{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<h3 class="disply-6">Profile</h3>

<form action="{% url 'profile-update' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form exclude=passwords %}
    {% bootstrap_button button_type="submit" content="Save" %}
    <a href="{% url 'password-update' %}" class="btn btn-success">Change Password</a>
    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a></div>
</form>

{% endblock %}