{% extends 'base.html' %}
{% block content %}
<h1 class="display-6">Profile</h1>
<table class="table">
    <tr>
        <td class="col">Name: </td>
        <td class="col">{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
    <tr>
        <td class="col">Username: </td>
        <td class="col">{{ user.username }}</td>
    </tr>
    <tr>
        <td class="col">Email: </td>
        <td class="col">{{ user.email }}</td>
    </tr>
    <tr>
        <td class="col">Posts:</td>
        <td class="col">{{ user_posts }}</td>
    </tr>
</table>
<div class="col"><a href="{% url 'profile-update' %}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square fa-lg m-1"></i>Update Profile</a> <a
    href="{% url 'index' %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-xmark fa-lg m-1"></i>Close</a></div>
{% endblock %}