{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="card">
    <div class="card-body">
      <h1 class="display-6">Post your comment for: <a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h1>
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=false %}
        <div class="d-flex justify-content-start mt-4">
          <input type="submit" value="Submit" class="btn btn-success"/>
          <a href="{% url 'post-detail' post.slug %}" class="mx-3 btn btn-danger"><i class="fa-solid fa-ban"></i></a>
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}