{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="card-body">
    <p class="note note-danger mx-4 my-4 text-break">Are you sure you want to delete the post: {{ post.title }}?</p>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-start">
        <input type="submit" action="" value="Yes, delete." class="btn btn-danger">
        <a href="{{ post.get_absolute_url }}" class="mx-3 btn btn-success">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
